*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
form{
    width: 80%;
    background-color: aqua;
    box-shadow: 2px 2px 2px gray;
    padding: 20px 30px;
    margin: auto;
    display: none;
}
.show{
    display: block;
}
input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}
#submit{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    background-color: green;
    color: white;
}
section{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
section div{
    background-color: antiquewhite;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    display: flex;
    justify-content: space-between;

}
.delete{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px ;
    margin-right: 10px;
}
.edit{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px ;
}
#plus{
    margin-left: 5%;
    font-size: 20px;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    width: fit-content;
}